body,html
{
	margin:0;
	width: 100%;
	margin:0;
	padding: 0;
	background:#111;
	height: 100%;
	overflow:hidden;
}

.page
{
	width:1159px;
	height: 650px;
	margin: auto;
	background:#111;
	line-height: 768px;
}
.slideshow
{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;

    .slider
    {
    	width: 100%;
    	height: 100%;
    }

	img
	{
		height: 100%;
		width: 100%;
		vertical-align:bottom;
        border:0;
	}
}

	.thumb_container
	{
		background:#000;
		opacity: 1;
		height: 100px;
		width: 1159px;
		position: relative;
		bottom: 0;
		overflow-x:hidden; 
		overflow-y:hidden; 

		.thumbs
		{
			position: relative;
			top: 0;
			height: 100px;
			width: 300%;
			transition:all 1s ease;
			-webkit-transition:all 1s ease;
			-moz-transition:all 1s ease;
			-ms-transition:all 1s ease;

			img
			{
				height: 100px;
				display: inline;
				position: relative;
				top:0;
				left:0;
				opacity: 0.5;
			}
			img:hover
			{
				opacity: 1;
			}
		}
	}